[Unit]
Description=Updates LTSP-Image
Requires=ltsp-org-image.service

[Timer]
Unit=ltsp-org-image.service
OnCalendar=Mon..Fri *-*-*  23:23:30

[Install]
WantedBy=timers.target