[Unit]
Description=Update Daemons and Initrd

[Service]
Type=simple
ExecStart=/usr/local/bin/ltsp-org-updater --daemons

[Install]
WantedBy=multi-user.target
