[Unit]
Description=Update Daemons, Initrd and Cron

[Service]
Type=simple
ExecStart=/usr/bin/systemd-inhibit --who="ltsp-org-updater" --what="sleep:idle:handle-lid-switch" /usr/local/sbin/ltsp-org-updater --daemon

[Install]
WantedBy=multi-user.target
