Source: ltsp-updater
Section: unknown
Priority: extra
Maintainer: Basil Stotz <stotz@amxa.ch>
Package: ltsp-updater
Version: 1658326829 
Architecture: amd64
Depends: 
Description: Setup and maintain a LTSP server on ubuntu/debian
 Setup and maintain a LTSP server on ubuntu/debian
 debconf, zenity, lxqt-sudo, dnsmasq, nfs-kernel-server, openssh-server, squashfs-tools, ethtool, net-tools, epoptes, epoptes-client, sshfs, man-db, wget