Source: ltsp-updater
Section: unknown
Priority: extra
Maintainer: Basil Stotz <stotz@amxa.ch>
Package: ltsp-updater
Version: 1613570309 
Architecture: amd64
Depends: debconf, zenity, lxqt-sudo, dnsmasq, nfs-kernel-server, openssh-server, squashfs-tools, ethtool, net-tools, epoptes, epoptes-client, sshfs, man-db
Description: Setup and maintain a LTSP server on ubuntu
 Setup and maintain a LTSP server on ubuntu
